p, li{
  line-height:1.6em;
}


h1{
  font-size:2em;
  margin-bottom:1.5em;
}

.section-header{
  font-size:1.5em;
  font-weight:bold;
  line-height:normal;
  margin:2em auto 1em auto;
  padding:0em 1em;
  text-align:center;
  max-width:800px;
}

.reading-box{
  max-width:780px;
  margin:0px auto;
}

img{
  margin: 1em 0em 5em 0em;
}

.button-wrap{
  margin:3em auto 0em auto;
  border-top:1px solid #aaaaaa;
  padding:1em;
  max-width:900px;
}

.button-wrap > *{
  display:inline-block;
  padding:0.25em 0.5em;
  margin:0.25em;
  background-color:#dddddd;
  cursor:pointer;
  font-family:arial, helvetica;

  -ms-user-select: none;
  user-select: none;
}

.button-wrap *.selected{
  background-color:#31a354;
  color:#ffffff;
}

#met-dash .views{
  width:100vw;
  height:100vh;
}



#met-dash .view-name, svg text{
  font-family: arial, helvetica, sans;
  font-size:1.5em;
  font-weight:bold;
  text-align: center;
  color:#111111;
  fill:#111111;
}
